.header__lang-item {
  margin-right: 18px;

  color: var(--text-color-white);
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.header__lang-item:nth-of-type(2n) {
  margin-right: 0;
}


@media screen and (max-width: 540px) {
  .header__lang-item {
    font-size: 18px;
  }
}
