.places {
  padding: 45px 148px 30px;

  width: 100%;
  max-width: 1280px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places {
    padding-top: 40px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding-top: 45px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 540px) {
  .places {
    padding-top: 12px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-left: 0;
    padding-right: 0;
  }
}


