.cover__subtitle {
  margin: 0;
  margin-top: 30px;

  width: 100%;
  max-width: 360px;

  font-family: 'inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color-white);
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;

  position: relative;
  z-index: 2;
}

@media screen and (max-width: 540px) {
  .cover__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin-top: 15px;;
  }
}
