.header {
  padding: 26px 48px 0;

  width: 100%;
  max-width: 1280px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;

}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 15px 16px 0;
  }
}
