.header__lang-link_active {
  position: relative;
}

.header__lang-link_active::before {
  content: '';
  width: 100%;
  height: 2px;

  position: absolute;
  bottom: -3px;
  left: 0;

  background-color: var(--text-color-white);
}
