.lead__title {
  margin: 0;

  max-width: 720px;

  font-family: 'inter';
  font-size: 96px;
  font-weight: 900;
  line-height: 1;
  color: var(--text-color-white);
  text-align: center;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}


@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
}
