.intro {
  padding: 45px 100px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-top: 37px;
  } 
}

@media screen and (max-width: 540px) {
  .intro {
    padding-top: 13px;
  }
}


