.intro {
  padding: 40px 148px;

  width: 100%;
  max-width: 1280px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding-top: 45px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-top: 37px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding-top: 13px;
    padding-left: 16px;
    padding-right: 16px;
  }
}


