.cover {
  padding: 55px 48px 50px;

  width: 100%;
  max-width: 1280px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: 65px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding-top: 40px;
  }
}
