 .header__lang-list {
  margin: 0;
  padding: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  list-style: none;
}
@media screen and (max-width: 320px) {
  .header__lang-list {
    margin-bottom: 5px;
  }
}
