.places__website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;

  grid-area: website;
}

@media screen and (max-width: 320px) {
  .places__website{
    padding-left: 16px;
    padding-right: 16px;
  }
}
