.place__item {
  margin-bottom: 80px;

  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: minmax(min-content, max-content);
  gap: 46px 13px;
  grid-template-areas:
  "title website"
  "image description";
}

.place__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 540px) {
  .place__item {
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "website"
    "image"
    "description";
  }
}

@media screen and (max-width: 320px) {
  .place__item {
    gap: 32px 13px;
  }
}
