.places__item {
  margin-bottom: 80px;

}
.places__item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .places__item {
    margin-bottom: 77px;
  }
}

@media screen and (max-width: 768px) {
  .places__item {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 540px) {
  .places__item {
    margin-bottom: 50px;
  }
}


